<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lulebe.designer">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".Designer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".BoardActivity" />
        <activity
            android:name=".SelectBoardActivity"
            android:label="@string/title_app"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.lulebe.designer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpaths" />
        </provider>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".SelectBoardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.lulebe.designer.SelectBoardActivity" />
        </activity>
    </application>

</manifest>